absl-py==0.9.0
astor==0.8.1
atari-py==0.2.6
cloudpickle==1.3.0
colorlog==4.1.0
Cython==0.29.15
faster-fifo==1.0.7
filelock==3.0.12
future==0.18.2
gast==0.2.2
git+https://github.com/alex-petrenko/ViZDoom@doom_bot_project#egg=vizdoom 
google-pasta==0.2.0
GPUtil==1.4.0
greenlet==1.0.0
grpcio==1.27.2
gym==0.17.1
h5py==2.10.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lockfile==0.12.2
lz4==3.0.2
Markdown==3.2.1
msgpack==1.0.2
neovim-remote==2.4.0
numpy==1.20.1
opencv-python==4.5.1.48
opt-einsum==3.2.0
pandas==1.0.1
protobuf==3.11.3
psutil==5.7.0
pyglet==1.5.0
pynvim==0.4.3
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.15.0
tensorboard==1.15.0
tensorboardX==2.0
termcolor==1.1.0
threadpoolctl==2.0.0
torch==1.8.0
typing-extensions==3.7.4.3
Werkzeug==1.0.0
wrapt==1.12.1
yapf==0.31.0
